.fondGeneral{
    background-color: grey;

}

section{
    margin-left: 1%;
    margin-right: 1%;

    border-style: outset;
    border-color: orange;
}



/* LE MENU */

.alpha{
    background-color: black;

    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    color: white;
}

.alpha1{
    display: flex;
    margin-left: 1%;
}

.alpha2{
    display: flex;
    margin-left: 80%;
}

.gsk{
    margin-left: 1%;
}

.monPortfolio{
    margin-left: 1%;
}

.meConnaitre{
    margin-left: 1%;
}

.meContacter{
    margin-left: 1%;
    margin-right: 1%;
}



/* LE RECTANGLE BLEU NUMERO 1 */

.beta{
    background-image: url("DL-Generic-Background.webp");

    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.maxiLogoGS{
    background-image: url("logoGS.png");

    width: 200px;
    height: 240px;

    margin-top: 5%;
}

.univers{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.trait1{
    background-color: white;

    width: 150px;
    height: 1px;
}

.sporKulubu{
    color: white;
}



/* LE RECTANGLE BLANC NUMERO 1 */

.charlie{
    background-color: white;

    width: 100%;

}

img{
    width: 400px;
    height: 400px;
}

.charlie1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.trait2{
    background-color: black;

    width: 150px;
    height: 1px;
}

.charlie2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charlie2A{
    margin: 1% 1% 1% 1%;
}

.charlie2B{
    margin: 1% 1% 1% 1%;
}

.charlie2C{
    margin: 1% 1% 1% 1%;
}

.charlie2D{
    margin: 1% 1% 1% 1%;
}

.charlie2E{
    margin: 1% 1% 1% 1%;
}

.charlie2F{
    margin: 1% 1% 1% 1%;
}



/* LE RECTANGLE BLEU NUMERO 2*/

.delta{
    background-image: url("DL-Generic-Background.webp");

    color: white;

    width: 100%;
    height: 400px;
}

.delta1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.trait3{
    background-color: white;

    width: 150px;
    height: 1px;
}

.delta2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/*
.miniLogoGS{
    background-image: url("logoGS.png");

    height: 50px;
    width: 50px;
}
*/

.boiteFormation{
    width: 300px;
    /*height: 100px;*/

    text-align: center;

    margin: 5% 5% 5% 5%;
}

.boiteExperience{
    width: 300px;
    /*height: 100px;*/

    text-align: center;

    margin: 5% 5% 5% 5%;
}



/* LE RECTANGLE BLANC NUMERO 2 */

.enigma{
    background-color: white;

    color: black;

    width: 100%;
    height: 300px;
}

.enigma1{
    display: flex;

    justify-content: center;
    text-align: center;
}

.enigma2{
    justify-content: center;
    text-align: center;
}

/*
.boiteFormulaire{
    margin-bottom: 10px;
}
*/

.trait4{
    background-color: black;

    width: 150px;
    height: 1px;

    margin-bottom: 20px;
}



/* RECTANGLE BLEU NUMERO 3 */

.figma{
    background-image: url("DL-Generic-Background.webp");

    width: 100%;
    height: 300px;

    color: white;

    display: flex;
    justify-content: center;
    text-align: center;
}

.figma1{
    width: 300px;
    /*height: 150px;*/

    text-align: center;

    margin: 5% 25% 5% 5%;
}

.figma2{
    width: 300px;
    /*height: 150px;*/

    text-align: center;

    margin: 5% 5% 5% 25%;
}

.boiteReseaux{
    color: black;
}

.lesReseaux{
    display: flex;
}

.reseauxInstagram{
    background-image: url("instagram.png");

    height: 64px;
    width: 64px;

    margin-left: 5%;
    margin-right: 5%;
}

.reseauxFacebook{
    background-image: url("facebook.png");

    height: 64px;
    width: 64px;

    margin-left: 5%;
    margin-right: 5%;
}

.reseauxLinkedin{
    background-image: url("linkedin.png");

    height: 64px;
    width: 64px;

    margin-left: 5%;
    margin-right: 5%;
}
